{% extends 'base.html' %}

{% block content %}

      <div style = 'margin: 2rem; text-align: center'>
        <H1>METHOD</H1>

{#어느 경로로 요청을 보내게 될지의 주소#}
          <form action="/accounts/gyullo/" method="post">
              {%  csrf_token %}
              <input type="text" name="gyullo_input">
              <input type="submit" class="px-5 btn btn-outline-primary">


          </form>

          {% for gyullo in gyullo_list %}
              <H3>{{ gyullo.text }}</H3>
          {% endfor %}
      </div>

{% endblock %}
