{#8/18 articleapp > templates> articleapp > list 복붙 #}
{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        .container {
            padding: 0;
            margin: 0 0;
        }

        .container div {
            {#임의의 크기에 대응할 필요가 없음 - 크기 삭제#}
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
                flex-direction: column;
            }


            div img {
                width: 7rem;
                height: 7rem;
                {#비율에 맞춘 크기를 출력-왜곡되지 않음#}
                object-fit: cover;
                border-radius: 1rem;
            }
    </style>

    <div class="container my-3">
        {# 18분 30초부터 #}
        {% for project in project_list %}

            <div>
                <a href="{% url 'projectapp:detail' pk=project.pk %}">
                    <img src="{{  project.image.url }}" alt="">
                </a>
                {# 게시판 제목 출력 -- 10까지의 글자 빼고는 ... #}
                <span class="NNS_B" m-2>{{ project.name | truncatechars:10 }}</span>
            </div>

        {% endfor %}

    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>

    {# 여기에 있던 div태그들을 templates > snippets > pagination으로 옮겨준다 #}
    {% include 'snippets/pagination.html' %}
    <div class="text-center my-5">
        <a href="{% url 'projectapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5">
            Create Project
        </a>
    </div>


{% endblock %}