.gyullo_header_logo {
    margin:2rem 0;
    font-family: 'Lobster', cursive;
}

.gyullo_header_button{
    margin-bottom : 2rem
}


.gyullo_footer_logo{
    margin:1.5rem 0;
    font-family: 'Lobster', cursive;
}


.gyullo_footer_button{
    margin-top: 2rem
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}
/*7/26*/
.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;      /*모서리를 얼마나 둥글게 할지*/
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

/*7/29*/
.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;  /*그림자 위치들(처음2개) , 그림자의 크기, 색깔*/
    border-radius: 20rem;
    padding: 0.3rem; /*내부 공간*/
}

/*7/29 어떤 행동을 했을때 바뀌는 조건--round_button에 올렸을때*/
.round_button:hover{
    color: dimgray;
}