<div style = 'text-align: center'>

    <div class = "gyullo_header_logo">
        <h1>GYULLO</h1>
    </div>
    <div class = 'gyullo_header_button'>
        {# 8/5 nav바 1번에 articles로 바로 갈수 있는 버튼 만들어 주기#}
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>LOSTARK</span>


        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>

        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
{#7/15#}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>


</div>