{#8/2#}
{% extends 'base.html' %}

{% block content %}
                       {#8/4 사진 중앙정렬#}
    <div class="container text-center">
        <div class="my-5">
            {#       제목/글쓴이/날짜        #}
               {#8/4제목 두껍게#}
            <h1 class="NNS_B">{{ target_article.title }}</h1>
            {# 8/23 좋아요 추가 #}
            <div class="my-3">
                <a href="{% url 'likeapp:article_like' article_pk=target_article.pk %}"
                    class="material-icons"
                    style="vertical-align: middle; color: #44bed0">
                     favorite
                </a>
                <span style="vertical-align: middle;">
                {{ target_article.like }}
                </span>
            </div>
            <h4>{{ target_article.writer.profile.nickname }}</h4>
            <p>{{ target_article.created_at }}</p>
        </div>
        <hr>
        <div class="my-5">
                {#     게시글 내용     #}
            <img src="{{ target_article.image.url }}"
                 alt=""
                 class="article_image">

            {# 8/26 | safe = WYG #}
            <div class="article_content">
                {{ target_article.content | safe }}
            </div>
            {#    주인인 사람에게만 보이게 해주자        #}
            {% if target_article.writer == user %}
            {#8/4#}
            <div>
                   {#  버튼만들기 #}
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                    class="btn btn-success rounded-pill px-5">
                    Update
                </a>
                    {#  버튼만들기 #}
                <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                    class="btn btn-danger rounded-pill px-5">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
        {#8/4#}
        <hr>
        <div class="text-center my-4">
            {#   8/9작성 댓글  #}
            {#  8/9 댓글 시각화--1대1이 아닌 모든것을 가져오겠다#}
            {#커스터마이징은 자기마음대로 해도 상관없지만 for문은 넣어주어야 함#}
            {% for comment in target_article.comment.all %}
                {# 외곽선= 실선#}
                <div class="comment_box">
                    <div>
                        {# 작성자 + 언제 작성했는지#}
                        <span style="font-size: 1.3rem;" class="NNS_B">
                            {{ comment.writer.profile.nickname }}
                        </span>
                        <span>{{ comment.created_at }}</span>
                    </div>
                    <div class="my-2">
                        {#내용 출력#}
                        <p>{{ comment.content }}</p>
                    </div>
                    {# 8/11 이 댓글의 작성자가 해당 유저가 맞는지 인증 과정#}
                    {% if comment.writer == user %}
                    {#  8/11   댓글 삭제 버튼 #}
                    <div style="text-align: right">
                        <a href="{% url 'commentapp:delete' pk=comment.pk  %}"
                            class="btn btn-danger rounded-pill px-5">
                            Delete
                        </a>
                    </div>
                    {% endif %}
                </div>

            {% endfor %}
            {% include 'commentapp/create.html' %}
        </div>
    </div>

{% endblock %}