{#7/29 articleapp > templates> articleapp > list #}
{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        .container div {
            width: 280px;
            {# flex관련된거 확인한번 해보면 좋음 #}
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
                flex-direction: column;
                box-shadow: 0 0 1rem darkgray;
            }


            div img {
                width:100%;
                border-radius: 1rem;
            }
    </style>

    <div class="container my-5">
        {#  8/5 녹음 10분정도부터  #}
        {% for article in article_list %}

            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{  article.image.url }}" alt="">
                </a>
                <span class="NNS_B" m-2>{{ article.title }}</span>
            </div>

        {% endfor %}

    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>

    {# 여기에 있던 div태그들을 templates > snippets > pagination으로 옮겨준다 #}
    {% include 'snippets/pagination.html' %}

{% endblock %}